.toggleButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}

.toggleButton span {
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 785px) {
    .toggleButton {
        display: none;
    }
}