.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    margin: 30px 3% 30px 3%;
}

.service1, .service3 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}
.service2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 15px;
}

.textSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    margin: 0 5% 0 5%;

    h2 {
        color: #002e5d;
        font-size: 30px;
        margin: 0 ;
    }
    
    p {
        font-size: 20px;
        margin: 0 auto;
    }
}

button {
    align-self: center;
}

#reformaInterior, #obraNueva, #direccionTecnica {
    height: 400px;
    align-self: center;
}
