.home {
  position: relative;
  height: calc(100vh - 90px);
  background-image: url('/src/assets/images/hero-image-2.avif'); /* Ruta corregida */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 1.5rem;
  flex-direction: column;
}

.home::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* Oscurece imagen para mejor contraste */
  z-index: 0;
}

.heroImage {
  position: relative;
  z-index: 1; /* Asegura que esté encima del fondo */
  max-width: 100%;
}

.heroImage h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* Sección Milestones */
.milestones {
  background-image: url('/src/assets/images/milestones.avif'); /* Ruta corregida */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  width: 100%;
}

.milestone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 200px;

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }
}

/* Animación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries para pantallas mayores */
@media (min-width: 768px) {
  .heroImage h1 {
    font-size: 2.5rem;
  }

  .home {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .heroImage h1 {
    font-size: 3rem;
  }

  .home {
    padding: 0 5rem;
  }

}

@media (max-width: 600px) {
  .milestone {
    width: 95%;
    height: 150px;
  }
}
