.siteHeader {
    position: sticky;
    z-index: 1;
    top: 0;
}

.header {
    height: 90px;
    background-color: #f9f7f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    .logo {
        z-index: 2;
        width: auto;
        height: 300px;
        margin-left: 40px;
    }
}

@media (min-width: 785px) {
    .logo {
        height: 150px;
    }
}
