.siteHeader {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: transparent;
}

.header {
    height: 90px;
    background-color: #f9f7f0d2;
    backdrop-filter: blur(3px); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    .logo {
        width: 250px;
        height: auto;
        margin-left: 3%;
    }
}

@media (min-width: 1024px) {
    .logo {
        height: 130px;
    }
}