.footer {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}

.footerLinks {
    display: flex;
    height: 85%;
    padding: 5% 5% 0 5%;
    gap: 15px;
    
}

.logoDescription {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    p {
        width: 75%;
        margin-top: 30px;
        font-size: 16px;
    }
}

.footerLogo {
    height: auto;
    width: 250px;
}

.footerMenu {
    width: 16%;

    h3 {
        margin-bottom: 25px;
        font-size: 22px;
    }

    ul {
        list-style: none;
        padding: 0;
    }  

    li {
        margin-bottom: 30px;
    }
}

.interestLinks {
    width: 20%;

    a {
        text-decoration: none;
        color: black;

        :hover {
            color: rgb(229, 194, 0);
            transition: 0.2s ease-in-out;
        }
    }

    h3 {
        margin-bottom: 25px;
        font-size: 22px;
    }

    ul {
        list-style: none;
        padding: 0;
    }  

    li {
        margin-bottom: 30px;
    }
}



.contactUs {
    width: 20%;

    a {
        text-decoration: none;
        color: black;

        :hover {
            color: rgb(229, 194, 0);
            transition: 0.2s ease-in-out;
        }
    }

    h3 {
        margin-bottom: 25px;
        font-size: 22px;
    }

    ul {
        list-style: none;
        padding: 0;
    }  

    li {
        margin-bottom: 30px;
    }
}

.phonePath {
    width: 14px;
}

.footerRights {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1.5px solid black;

    p {
        padding: 1%;
    }
}

@media (max-width: 1024px) {
    
    .footerMenu {
        display: none;
    }

    .footerLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 5% 60px 5%;
        height: auto;
        
        div {
            width: 100%;
        }

        .logoDescription p{
            width: 100%;
        }
    }

    .footerRights {
        width: 100%;
    }

}

@media (max-width: 425px) {
    
    .footer {
        width: 100%;
    }

    .footerMenu {
        display: block;
    }

    .logoDescription {

        p {
            width: 100%;
        }
    }
}