.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: black;
}

#logo-image {
    width: 8rem;
    animation: rotate-360 20s linear infinite;
}

@keyframes rotate-360 {
    to {
        transform: rotate(360deg);
    }
}