.budgetButton {
    padding: 0.75rem 1.5rem;
    background-color: rgba(225, 223, 217, 0.5);
    border: none;

    font-weight: 700;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.budgetButton:hover {
    background-color: rgb(229, 194, 0);
    font-weight: bolder;
}
